/* Fonts */
@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: 'Josefin Sans Bold';
  src: url('../fonts/Josefin_Sans/JosefinSans-Bold.ttf');
  font-weight:bold;
}

@font-face {
  font-family: 'Josefin Sans SemiBold';
  src: url('../fonts/Josefin_Sans/JosefinSans-SemiBold.ttf');
  font-weight:bold;
}

canvas {
  position:absolute;
  top:0;
  left:0;
}

#logo {
  visibility:hidden;
  font-family: 'Josefin Sans Bold';
  font-size:200px;
  line-height:200px;
  word-spacing:-0.3em;
  display:block;
  width:100%;
  text-align:center;
  color:#000;
  position:absolute;
}

.snowflake { width:2px; height:2px; background-color:#000; position:absolute; display:block; overflow:none; z-index:10; }