/* Fonts */
@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: 'Josefin Sans Bold';
  src: url('../fonts/Josefin_Sans/JosefinSans-Bold.ttf');
  font-weight:bold;
}

@font-face {
  font-family: 'Josefin Sans SemiBold';
  src: url('../fonts/Josefin_Sans/JosefinSans-SemiBold.ttf');
  font-weight:bold;
}

#logo {
  font-family: 'Josefin Sans Bold';
  font-size:160px;
  line-height:160px;
  word-spacing:-0.3em;
  display:inline-block;
  color:#fff;
  position:relative;
  z-index:1000;
}

.snowflake { width:2px; height:2px; background-color:#000; position:absolute; display:block; overflow:none; z-index:10; }