body {
  font-size: 62.5%;
  line-height: 1;
}

#menu {
  display: inline-block;
  background-color: #000;
  font-family: serif;
  font-size: 30px;
  padding: 10px;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

#menu span {
  padding: 0 5px;
}

#menu .controls {
  display: inline-block;
  position: relative;
  top: 2px;
}

#skip-previous {
  display: none;
}
#skip-previous.show {
  display: inline-block;
}

#container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#info {
  display: none;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#info.show {
  display: block;
}

#info-wrapper {
  font-family: monospace;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;
}

#info-wrapper p {
  margin-bottom: 20px;
  line-height: 25px;
}

#info-wrapper p:last-child {
  margin-bottom: 0;
}

#info-wrapper a {
  color: #ff0000;
}

#info-wrapper a:hover {
  color: #00ffff;
}

#info-legend {
  font-size: 12px;
  margin-bottom: 20px;
}

#info-legend .material-symbols-outlined {
  font-size: 12px;
  position: relative;
  top: 3px;
}

.link-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: cover;
  text-indent: -9999px;
}
.link-icon.github-icon {
  background-image: url("/github-mark-white.svg");
}
