html, body {
	margin:0;
	overflow:hidden;
	height:100%;
	min-height:100%;
}            

h1 {
	background:url('../img/logo.png') no-repeat;
	width:747px;
	height:62px;
	text-indent:-9999px;
	z-index:2000;
	position:absolute;
	margin:0;
}

div { width:4px; height:4px; background-color:#000; position:absolute; display:block; overflow:none; }