body {
  font-size:62.5%;
}

#menu {
  display:inline-block;
  background-color:#000;
  font-family:Serif;
  font-size:30px;
  padding:10px 15px;
  color:#fff;
  position:fixed;
  top:0;
  right:0;
  cursor:pointer;
}
#menu:hover {
  border-left:1px dashed #fff;
  border-bottom:1px dashed #fff;
}
#icon {
  color:#fff;
  text-decoration:none;
}
#icon:hover {
  font-size:35px;
  font-weight:bold;
  text-decoration:none;
  text-shadow: 1px 0px 12px #00FF3D;
}

#container {
  width:100%;
  height:100%;
  text-align:center;
  position:relative;
}