body {
  font-size:62.5%;
  overflow: hidden;
}

#menu {
  display:inline-block;
  background-color:#000;
  font-family: serif;
  font-size:30px;
  padding:10px 15px;
  color:#fff;
  position:fixed;
  top:0;
  right:0;
  cursor:pointer;
}
#menu:hover a {
  color:#000;
}
#menu a {
  color:#fff;
  text-decoration:none;
}

#container {
  width:100vw;
  height:100vh;
  text-align:center;
  position:relative;
  overflow: hidden;
}
