@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #000;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 0;

    &:hover {
      background: #fff;
    }
  }
}
