@use "./animations.scss";

body {
  font-size: 62.5%;
  line-height: 1;
}

#container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#menu {
  display: inline-block;
  background-color: #000;
  font-family: serif;
  font-size: 30px;
  padding: 10px;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  user-select: none;
  z-index: 2;

  span {
    padding: 0 5px;

    &:hover {
      color: #00ffff;
    }
  }

  .controls {
    display: inline-block;
    position: relative;
    top: 2px;
  }

  #skip-previous {
    display: inline-block;
  }

  #icon {
    position: relative;
    transform: scale3d(1, 1, 1);

    &::before,
    &::after {
      content: "V";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      background: #000;
      color: #00ffff;
      clip: rect(0, 900px, 0, 0);
    }

    &::before {
      left: 7px;
      text-shadow: 1px 5 green;
      animation: glitch-effect 3s infinite linear alternate-reverse;
    }

    &::after {
      left: 3px;
      text-shadow: -1px 0 red;
      animation: glitch-effect 2s infinite linear alternate-reverse;
    }
  }
}

#info {
  display: none;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  &.show {
    display: block;
  }
}

#info-wrapper {
  font-family: monospace;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;

  p {
    margin-bottom: 20px;
    line-height: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: #ff0000;

    &:hover {
      color: #00ffff;
    }
  }
}

#info-legend {
  font-size: 12px;
  margin-bottom: 20px;

  .material-symbols-outlined {
    font-size: 12px;
    position: relative;
    top: 3px;
  }
}

.link-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: cover;
  text-indent: -9999px;

  &.github-icon {
    background-image: url("/images/github-mark-white.svg");
  }
}
