@use "../../sass/animations.scss";

body {
  transition: all 0.2s ease-in;
}

img {
  position: relative;
}

#container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
}

#container::before {
  content: "";
  position: fixed;
  width: 300%;
  height: 300%;
  left: -100%;
  top: -100%;
  background-position: center center;
  animation: spin 4s linear infinite;
}
