@use "../../sass/animations.scss";

body {
  transition: all 0.2s linear;
}

#container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;

  &::before {
    background-image: url("/viruses/uzumaki/uzumaki.webp");
    content: "";
    position: fixed;
    width: 300%;
    height: 300%;
    left: -100%;
    top: -100%;
    background-position: center center;
    animation: spin 4s linear infinite;
  }

  img {
    position: relative;
  }
}
