@use "../../sass/animations.scss";

.comments-modal {
  &::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    background-color: #000000; /* or add it to the track */
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
  }

  overflow: auto;

  .modal-wrapper {
    top: auto;
    padding-bottom: 40px;
    transform: translate(-50%, 0);
  }
}

#comment-form-wrapper {
  margin-top: 40px;
  position: relative;

  #comment-form {
    margin-top: 20px;

    &.submitted {
      animation: shrink 0.5s;
    }

    input,
    textarea,
    button {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      margin: 0 0 10px 0;
      border: 0;
      font-family: monospace;
      background-color: rgba(255, 255, 255, 0.1);
      color: #ffffff;
      outline: none;

      &::placeholder {
        color: aqua;
        text-transform: uppercase;
      }
    }

    textarea {
      resize: vertical;
      height: 100px;
    }

    #textarea-wrapper {
      position: relative;

      #char-count {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 12px;
        background-color: aqua;
        color: black;
        padding: 2px;
      }
    }

    button[type="submit"] {
      cursor: url("../images/cursor.png") 15 0, pointer;
      text-transform: uppercase;

      &:hover {
        animation: shake 1s ease-in-out forwards infinite,
          space-letters 1s infinite;
        background-color: aqua;
        color: black;
      }

      span.dots {
        position: absolute;
      }
    }
  }

  #comment-form-thanks-message {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transform: scale(0);

    span {
      animation: flip-horizontal 1s infinite;
      animation-timing-function: step-end;
    }

    &.display {
      animation: grow 0.2s;
      animation-fill-mode: forwards;
    }
  }
}

#comments-wrapper {
  margin-top: 20px;

  #num-comments {
    margin-bottom: 20px;
    display: block;
  }

  .comment {
    font-size: 15px;
    margin-bottom: 20px;

    .commenter-name {
      display: block;
      margin-bottom: 5px;
      text-align: left;
    }
    .commenter-comment {
      display: inline;
      background-color: #ffffff;
      color: #000000;
    }
  }
}

#comments {
  #be-the-first {
    margin-top: 50px;
    text-transform: uppercase;
    text-align: center;
  }
}
