@use "../../sass/animations";

body {
  background-color: aqua;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 800px;
  height: auto;
}

#face {
  animation: floating 1.5s ease-in-out infinite;

  #eyes {
    display: flex;
    justify-content: space-evenly;

    max-width: 600px;
    margin: 0 auto;

    .eye {
      width: 300px;
      height: 300px;

      @media (max-width: 768px) {
        width: 200px;
        height: 200px;
      }

      @media (min-width: 320px) and (max-width: 480px) {
        width: 150px;
        height: 150px;
      }

      background-size: contain;

      &.x {
        background-image: url("/viruses/faces/images/eye-x.webp");
      }

      &.pupil {
        background-image: url("/viruses/faces/images/eye-pupil.webp");
      }

      &.closed {
        background-image: url("/viruses/faces/images/eye-blink.webp");
      }

      &.blink {
        background-image: url("/viruses/faces/images/eye-blink.webp");
      }
    }
  }

  #mouth {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
    top: -50px;

    &.smile {
      background-image: url("/viruses/faces/images/mouth-smile.webp");
    }
    &.monster {
      background-size: contain;
      background-image: url("/viruses/faces/images/monster.png");
    }
  }
}

$scan-width: 2px;
$scan-crt: true;
$scan-fps: 60;
$scan-color: rgba(#000, 0.3);
$scan-z-index: 2147483648;

@mixin scan-crt($scan-crt) {
  @if $scan-crt == true {
    animation: scanlines 1s steps($scan-fps) infinite;
  } @else {
    animation: none;
  }
}

body {
  overflow: hidden;

  &:before,
  &:after {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
  }

  &:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $scan-z-index;
    background: linear-gradient(to bottom, transparent 50%, $scan-color 51%);
    background-size: 100% $scan-width * 2;
    @include scan-crt($scan-crt);
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
