@use "../../sass/animations.scss";

body,
#container {
  width: 100vw;
  height: 100vh;
}

button,
img {
  position: fixed;
}

button {
  cursor: url("../../images/cursor.png") 15 0, pointer;
  animation: floating 1.5s ease-in-out infinite;
  white-space: nowrap;
  z-index: 1;
  opacity: 1;
  text-transform: uppercase;

  &.fade-out {
    opacity: 0;
    transition: opacity 1s linear;
  }
}

img {
  max-height: 150px;
  max-width: 150px;
}

img.troll-face {
  animation: wobble 1.5s ease-in-out forwards infinite;
}

img.zombie {
  animation: spin 1.5s forwards infinite;
}

img.dedseceyeballs {
  border-radius: 100%;
}

img.misatoanimatedbeer {
  border-radius: 10px;
}

img.fffffuuuuuuuu {
  animation: shake 1.5s ease-in-out forwards infinite;
}

/* buttons */
.button-54 {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    background-color: #00ffff;
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }

  &:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.button-49,
.button-49:after {
  font-size: 16px;
  padding: 5px 8px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

.button-triangle {
  color: #ffffff;
  border: 0;
  background: none;
  word-break: break-word;
  font-size: 10px;
  white-space: normal;
  width: 55px;
  animation: spin 1.5s forwards infinite;

  &:hover {
    animation: shake 1.5s ease-in-out forwards infinite, text-blink 1s infinite;
  }

  &::before {
    content: "";
    border-bottom: 100px solid black;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
