body,
#container {
  width: 100vw;
  height: 100vh;
}

button,
img {
  position: fixed;
}

button {
  cursor: url("../../cursor.png") 15 0, pointer;
  animation: floating 1.5s ease-in-out infinite;
  white-space: nowrap;
  z-index: 1;
  text-transform: uppercase;
}

img {
  max-height: 150px;
  max-width: 150px;
}

@keyframes wobble {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes shake {
  0% {
    transform: rotate(-3deg);
  }
  5% {
    transform: rotate(3deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  15% {
    transform: rotate(3deg);
  }
  20% {
    transform: rotate(-3deg);
  }
  25% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(-3deg);
  }
  35% {
    transform: rotate(3deg);
  }
  40% {
    transform: rotate(-3deg);
  }
  45% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  55% {
    transform: rotate(3deg);
  }
  60% {
    transform: rotate(-3deg);
  }
  65% {
    transform: rotate(3deg);
  }
  70% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  85% {
    transform: rotate(3deg);
  }
  90% {
    transform: rotate(-3deg);
  }
  95% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

img.troll-face {
  animation: wobble 1.5s ease-in-out forwards infinite;
}

img.zombie {
  animation: spin 1.5s forwards infinite;
}

img.dedseceyeballs {
  border-radius: 100%;
}

img.misatoanimatedbeer {
  border-radius: 10px;
}

img.fffffuuuuuuuu {
  animation: shake 1.5s ease-in-out forwards infinite;
}

/* buttons */
.button-54 {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-54:hover {
  background-color: #00ffff;
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}
.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.button-49,
.button-49:after {
  font-size: 16px;
  padding: 5px 8px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
