<div id="virus-thumbnail-overlay">
  <button class="virus-thumbnail-close">✕</button>
  <div class="virus-thumbnail-grid">
    {{#each viruses}}
      <div class="virus-thumbnail-item" data-virus="{{value}}">
        <iframe src="/viruses/{{value}}/" title="{{value}}" frameborder="0"></iframe>
        <div class="virus-label">{{label}}</div>
      </div>
    {{/each}}
  </div>
</div> 